.editBtn {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #37bdae;
  margin-right: 10px;
  /* color: #fff; */
}
.editBtn:hover {
  animation: shake 0.5s;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
